body { font-family: 'Rubik', sans-serif; padding: 0 1rem; }
.hidden { display: none !important; }

.comment-list-group { list-style: none; padding: 0; }

.comment-list-item {
  position: relative;
  background-color: var(--clr-White);
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
  padding: 1.1rem;
  & p { color: var(--clr-Grayish-blue); }
  & .user-identifier {
    background-color: var(--clr-Moderate-blue);
    color: var(--clr-Very-light-gray);
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.07rem 0.3rem;
    margin: 0.4rem;
    border-radius: 0.1rem;
  }
  & .comment-reply-input {
    font-size: 1rem;
    height: 100%;
  }
}

.comment-header {
  display: flex;
  align-items: center;
  & .date-created {
    opacity: 0.4;
    font-weight: 400;
    margin: 0;
  }
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar { width: 30px; height: 30px; border-radius: 50%; }

.comment-username { margin: 0 1rem; font-weight: 500; }
.user-replying-to { cursor: pointer; color: var(--clr-Moderate-blue); font-weight: 700; }

.votes-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
  width: 100px;
  padding: 0.6rem;
  color: var(--clr-Moderate-blue);
  background-color: var(--clr-Very-light-gray);
  & h4 {
    flex: 1 1 50%;
    font-weight: 500;
    margin: 0;
  }
  & div {
    flex: 0 0 33%;
    color: var(--clr-Light-grayish-blue);
    font-weight: 700;
    transition: 210ms color ease-out;
    &:hover { color: var(--clr-Moderate-blue); }
  }
  & * { cursor: pointer; text-align: center; }
}

.comment-actions {
  position: relative;
  display: flex;
  font-weight: 500;
  & .btn {
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--clr-Moderate-blue);
    margin: 0 0.5rem;
    & i { margin: 0.2rem; }
    &.delete { color: var(--clr-Soft-red);}
    &:hover { opacity: 0.5; }
  }
}

.replies {
  list-style: none;
  padding-left: 1rem;
  border-left: 2px solid rgba(110, 110, 110, 0.1);
}

.comment-reply-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--clr-White);
  padding: 1.1rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
  transition: all 820ms ease-out;
  & .btn-submit {
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-Moderate-blue);
    color: var(--clr-Very-light-gray);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    transition: opacity 150ms ease-out;
    &:hover { opacity: 0.5; }
  }
  &.update-comment {
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    margin-bottom: 1rem;
    & .btn-submit { margin-left: auto; }
    & textarea { border-color: var(--clr-Light-gray); }
  }
}
.comment-reply-input {
  order: -1;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  border: 1px solid var(--clr-Very-light-gray);
  border-radius: 0.4rem;
  padding: 1rem;
  resize: none;
  appearance: textfield;
  font-size: 0.8rem;
  width: calc(100% - 2.2rem);
  margin-bottom: 1rem;
  &::placeholder { opacity: 0.4; }
}

@media screen and (min-width: 600px){
  .App {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }

  .comment-list-item {
    padding-left: 5rem;
  }

  .comment-header .date-created { font-size: 0.9rem; font-weight: 500; opacity: 0.3;}

  .votes-wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    width: 50px;
    & div { margin: 0.5rem 0;}
  }

  .comment-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .replies { padding-left: 2.5rem; margin-left: 2.5rem;}

  .comment-reply-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    & textarea { order: initial; width: 80%;}
  }
}
