body { font-family: 'Rubik', sans-serif; padding: 0 1rem; }
.comment-list-group { list-style: none; padding: 0; }

.comment-list-item {
  position: relative;
  background-color: var(--clr-white);
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
  padding: 1.1rem;
  & p { color: var(--clr-Grayish-blue); }
  & .user-identifier {
    background-color: var(--clr-Moderate-blue);
    color: var(--clr-Very-light-gray);
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.07rem 0.3rem;
    margin: 0.4rem;
  }
}

.comment-header {
  display: flex;
  align-items: center;
  & img { width: 30px; height: 30px; }
  & .date-created {
    opacity: 0.4;
    font-weight: 400;
    margin: 0;
  }
}

.comment-username { margin: 0 1rem; font-weight: 500; }
.user-replying-to { cursor: pointer; color: var(--clr-Moderate-blue); font-weight: 700; }

.votes-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
  width: 73px;
  padding: 0.6rem;
  color: var(--clr-Moderate-blue);
  background-color: var(--clr-Very-light-gray);
  & h4 {
    flex: 1 1 50%;
    font-weight: 500;
    margin: 0;
  }
  & div {
    flex: 0 0 33%;
    color: var(--clr-Light-grayish-blue);
    font-weight: 700;
    transition: 210ms color ease-out;
    &:hover { color: var(--clr-Moderate-blue); }
  }
  & * { cursor: pointer; text-align: center; }
}

.comment-actions {
  display: flex;
  font-weight: 500;
  position: absolute;
  bottom: 1.6rem;
  right: 1.1rem;
  & .btn {
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--clr-Moderate-blue);
    margin: 0 0.5rem;
    & i { margin: 0.2rem; }
    &.delete { color: var(--clr-Soft-red);}
    &:hover { opacity: 0.5; }
  }
}

.replies {
  list-style: none;
  padding-left: 1rem;
  border-left: 2px solid rgba(110, 110, 110, 0.1);
}
