body {
  //background-color: #F5F6FA;
  font-family: 'Rubik', sans-serif;
  padding: 0 1rem;
}

.comment-list-group {
  list-style: none;
  padding: 0;
}

.comment-list-item {
  background-color: var(--clr-white);
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
  padding: 1rem;
  & p {
    opacity: 0.6;
  }
}

.comment-header {
  display: flex;
  align-items: center;
  & img {
    width: 35px;
    height: 35px;
  }
  & .date-created {
    opacity: 0.4;
    font-weight: 400;
    margin: 0;
  }
}

.user-replying-to {
  color: var(--clr-Moderate-blue);
  font-weight: 700;
}

.comment-username {
  margin: 0 1.5rem;
  font-weight: 700;
}

.replies {
  padding-left: 1rem;
  border-left: 2px solid rgba(110, 110, 110, 0.1);
}
