@import './components/comment_card';
@import './components/modal';

:root {
  // Primary
  --clr-Moderate-blue: hsl(238, 40%, 52%);
  --clr-Soft-red: hsl(358, 79%, 66%);
  --clr-Light-grayish-blue: hsl(239, 57%, 85%);
  --clr-Pale-red: hsl(357, 100%, 86%);

  // Neutral
--clr-Dark-blue: hsl(212, 24%, 26%);
--clr-Grayish-blue: hsl(211, 10%, 45%);
--clr-Light-gray: hsl(223, 19%, 93%);
--clr-Very-light-gray: hsl(228, 33%, 97%);
--clr-White: hsl(0, 0%, 100%);
}

* { box-sizing: border-box; }
body { padding: 0 1rem;}
.modal-open { overflow: hidden; }
